In [30]:
import pandas as pd

pd.options.display.max_rows = 10

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table ('pydata-book-2nd-Edition/datasets/movielens/users.dat', sep="::", header=None, names=unames, encoding = 'cp949')

rnames =['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('pydata-book-2nd-Edition/datasets/movielens/ratings.dat', sep="::", header=None, names=rnames, encoding = 'cp949')


mnames = ['movie_id', 'title', 'genres']
movies = pd.read_table('pydata-book-2nd-Edition/datasets/movielens/movies.dat', sep="::", header=None, names=mnames, encoding = 'cp949')

<ipython-input-30-d493d5ea159a>:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users = pd.read_table ('pydata-book-2nd-Edition/datasets/movielens/users.dat', sep="::", header=None, names=unames, encoding = 'cp949')
<ipython-input-30-d493d5ea159a>:9: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_table('pydata-book-2nd-Edition/datasets/movielens/ratings.dat', sep="::", header=None, names=rnames, encoding = 'cp949')
<ipython-input-30-d493d5ea159a>:13: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table('pydata-book-2nd-Edition/datasets/movielens/movies.dat', sep="::", header=None, names=mnames, encoding = 'cp949')

UnicodeDecodeError: 'cp949' codec can't decode byte 0xe9 in position 3114: illegal multibyte sequence

In [31]:
users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [32]:
ratings[:5]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [33]:
movies[:5]

,user_id,gender,age,occupation,zip
0,1,Toy Story (1995),Animation|Children's|Comedy,NaN,NaN
1,2,Jumanji (1995),Adventure|Children's|Fantasy,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,NaN,NaN

In [34]:
ratings

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
...          ...       ...     ...        ...
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [38]:
data = pd.merge(pd.merge(ratings, users), movies)
data
data.iloc[0]

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [37]:
data

NameError: name 'data' is not defined

In [39]:
data = pd.merge(pd.merge(ratings, users), movies)
data
data.iloc[0]

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat